<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="Wioska_X" value="701"/>
    <add key="Wioska_Y" value="473"/>
    <add key="Wioska_Id" value="43404"/>
    <add key="Flaga_Ladownosc" value="5"/>
  </appSettings>
</configuration>
